<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head.ejs') -%>

  <body style="background-color: #070819;">

    <%- include('includes/header') %>

    <%- include(`includes/${conteudo}`) %>

    <%- include('includes/footer') %>
  </body>

</html>