<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs') -%>

  <body style="background-color: #070819">
    <%- include('includes/header.ejs') -%>

      <section id="selling-product">
        <div class="container my-md-5 py-5">
          <div class="row g-md-5">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <!-- product-large-slider -->
                  <div
                    class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-b9f77bfc8d829687" aria-live="polite">
                      <div class="swiper-slide swiper-slide-visible swiper-slide-active text-center" role="group"
                        aria-label="1 / 4" style="
                        width: 624px;
                        opacity: 1;
                        transform: translate3d(0px, 0px, 0px);
                      ">
                        <img src="images/product-game1.png" class="img-fluid product-img rounded" />
                      </div>
                      <div class="swiper-slide swiper-slide-next text-center" role="group" aria-label="2 / 4" style="
                        width: 624px;
                        opacity: 0;
                        transform: translate3d(-624px, 0px, 0px);
                      ">
                        <img src="images/product-game1.2.png" class="img-fluid product-img rounded" />
                      </div>
                      <div class="swiper-slide" role="group" aria-label="3 / 4" style="
                        width: 624px;
                        opacity: 0;
                        transform: translate3d(-1248px, 0px, 0px);
                      ">
                        <img src="images/product-game1.3.png" class="img-fluid product-img rounded" />
                      </div>
                      <div class="swiper-slide" role="group" aria-label="4 / 4" style="
                        width: 624px;
                        opacity: 0;
                        transform: translate3d(-1872px, 0px, 0px);
                      ">
                        <img src="images/product-game1.4.png" class="img-fluid product-img rounded" />
                      </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <!-- product-thumbnail-slider -->
                  <div thumbsslider=""
                    class="swiper product-thumbnail-slider swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                    <div class="swiper-wrapper" id="swiper-wrapper-f4f3ae6edda6e024" aria-live="polite"
                      style="transform: translate3d(0px, 0px, 0px)">
                      <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active"
                        role="group" aria-label="1 / 4" style="width: 202.667px; margin-right: 8px">
                        <img src="images/product-game1.png" class="img-fluid" />
                      </div>
                      <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="2 / 4"
                        style="width: 202.667px; margin-right: 8px">
                        <img src="images/product-game1.2.png" class="img-fluid" />
                      </div>
                      <div class="swiper-slide swiper-slide-visible" role="group" aria-label="3 / 4"
                        style="width: 202.667px; margin-right: 8px">
                        <img src="images/product-game1.3.png" class="img-fluid" />
                      </div>
                      <div class="swiper-slide" role="group" aria-label="4 / 4"
                        style="width: 202.667px; margin-right: 8px">
                        <img src="images/product-game1.4.png" class="img-fluid" />
                      </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-5">
              <div class="product-info">
                <div class="element-header">
                  <h2 itemprop="name" class="display-6 fw-bold">Elden Ring</h2>
                  <div class="rating-container d-flex gap-0 align-items-center">
                    <span class="rating secondary-font">
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      5.0</span>
                  </div>
                </div>
                <div class="product-price pt-3 pb-3">
                  <strong class="text-primary display-6 fw-bold">R$ 148,00</strong><del class="ms-2">R$ 240,00</del>
                </div>
                <p class="text-start text-break fw-medium lh-base mb-3">
                  O jogo oferece uma experiência desafiadora, rica em combates
                  intensos e exploração em um ambiente de mundo aberto. Com
                  gráficos deslumbrantes e uma narrativa profunda, você será
                  transportado para o reino de "The Lands Between", onde precisará
                  enfrentar inimigos formidáveis e chefes épicos.
                </p>
                <hr />
                <div class="cart-wrapper">
                  <div class="color-options product-select">
                    <div class="color-toggle pt-2" data-option-index="0">
                      <h5 class="item-title fw-bold">Categorias:</h5>
                      <ul class="select-list list-unstyled d-flex">
                        <li class="select-item pe-3" data-val="acao" title="acao">
                          <a href="#" class="btn btn-light text-uppercase">Ação</a>
                        </li>
                        <li class="select-item pe-3" data-val="Black" title="Black">
                          <a href="#" class="btn btn-light text-uppercase">Aventura</a>
                        </li>
                        <li class="select-item pe-3" data-val="rpg" title="rpg">
                          <a href="#" class="btn btn-light text-uppercase">RPG</a>
                        </li>
                        <li class="select-item" data-val="soulslike" title="soulslike">
                          <a href="#" class="btn btn-light text-uppercase">Soulslike</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="swatch product-select pt-3" data-option-index="1">
                    <h5 class="item-title fw-bold">Plataforma:</h5>
                    <ul class="select-list list-unstyled d-flex">
                      <li data-value="xbox" class="select-item pe-3">
                        <a href="#" class="btn btn-light text-uppercase active">Xbox</a>
                      </li>
                      <li data-value="playstation" class="select-item pe-3">
                        <a href="#" class="btn btn-light text-uppercase">Playstation</a>
                      </li>
                      <li data-value="pc" class="select-item pe-3">
                        <a href="#" class="btn btn-light text-uppercase">PC</a>
                      </li>
                    </ul>
                  </div>
                  <div class="pt-2">
                    <div class="d-flex flex-wrap pt-4">
                      <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                        <h5 class="text-uppercase m-0 fw-bold">Comprar</h5>
                      </a>
                      <a href="javascript:void(0)" class="btn-wishlist px-4 pt-3">
                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4" />
              <div class="meta-product">
                <div class="meta-item d-flex align-items-baseline">
                  <h5 class="item-title fw-bold no-margin pe-2">Modo de jogo:</h5>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item fw-bold">
                      Cooperativo online - PVP - Um jogador
                    </li>
                  </ul>
                </div>
                <div class="meta-item d-flex align-items-baseline">
                  <h5 class="item-title fw-bold no-margin pe-2">Idiomas:</h5>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item fw-bold">
                      Alemão - Inglês - Espanhol - Francês - Italiano - Japonês -
                      Coreano - Polonês - Português (Brasil) - Russo - Tailandês -
                      Chinês simplificado - Chinês tradicional
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-info-tabs py-md-5">
        <div class="container">
          <div class="row">
            <div class="d-flex flex-column flex-md-row align-items-start gap-5">
              <div class="nav flex-row flex-wrap flex-md-column nav-pills me-3 col-lg-3" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <button class="nav-link fs-5 mb-2 text-start active" id="v-pills-description-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-description" type="button" role="tab" aria-controls="v-pills-description"
                  aria-selected="true" tabindex="-1">
                  Descrição
                </button>
                <button class="nav-link fs-5 mb-2 text-start" id="v-pills-additional-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-additional" type="button" role="tab" aria-controls="v-pills-additional"
                  aria-selected="false" tabindex="-1">
                  Requisitos de Sistema
                </button>
                <button class="nav-link fs-5 mb-2 text-start" id="v-pills-reviews-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-reviews" type="button" role="tab" aria-controls="v-pills-reviews"
                  aria-selected="false" tabindex="-1">
                  Avaliações
                </button>
              </div>
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade active show" id="v-pills-description" role="tabpanel"
                  aria-labelledby="v-pills-description-tab" tabindex="0">
                  <h2>Descrição do Produto</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                    erat ut turpis. Suspendisse urna viverra non, semper suscipit,
                    posuere a, pede. Donec nec justo eget felis facilisis
                    fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                    dignissim pellentesque felis. Phasellus ultrices nulla quis
                    nibh. Quisque a lectus. Donec consectetuer ligula vulputate
                    sem tristique cursus.
                  </p>
                  <ul style="list-style-type: disc" class="list-unstyled ps-4">
                    <li>Donec nec justo eget felis facilisis fermentum.</li>
                    <li>Suspendisse urna viverra non, semper suscipit pede.</li>
                    <li>Aliquam porttitor mauris sit amet orci.</li>
                  </ul>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                    erat ut turpis. Suspendisse urna viverra non, semper suscipit,
                    posuere a, pede. Donec nec justo eget felis facilisis
                    fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                    dignissim pellentesque felis. Phasellus ultrices nulla quis
                    nibh. Quisque a lectus. Donec consectetuer ligula vulputate
                    sem tristique cursus.
                  </p>
                </div>
                <div class="tab-pane fade" id="v-pills-additional" role="tabpanel"
                  aria-labelledby="v-pills-additional-tab" tabindex="0">
                  <h2>Requisitos Mínimos</h2>
                  <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.
                  </p>
                </div>
                <div class="tab-pane fade" id="v-pills-reviews" role="tabpanel" aria-labelledby="v-pills-reviews-tab"
                  tabindex="0">
                  <div class="review-box d-flex flex-wrap">
                    <div class="col-lg-6 d-flex flex-wrap gap-3">
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-8">
                        <div class="review-content">
                          <div class="rating-container d-flex align-items-center">
                            <div class="rating" data-rating="1">
                              <svg width="24" height="24" class="text-primary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="2">
                              <svg width="24" height="24" class="text-primary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="3">
                              <svg width="24" height="24" class="text-primary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="4">
                              <svg width="24" height="24" class="text-secondary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="5">
                              <svg width="24" height="24" class="text-secondary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <span class="rating-count">(3.5)</span>
                          </div>
                          <div class="review-header">
                            <span class="author-name">Alexandre de Moraes</span>
                            <span class="review-date">– 03/07/2023</span>
                          </div>
                          <p>
                            Vitae tortor condimentum lacinia quis vel eros donec
                            ac. Nam at lectus urna duis convallis convallis
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-wrap gap-3">
                      <div class="col-md-2">
                        <div class="image-holder">
                          <img src="images/reviewer-2.jpg" alt="review" class="img-fluid rounded-circle" />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="review-content">
                          <div class="rating-container d-flex align-items-center">
                            <div class="rating" data-rating="1">
                              <svg width="24" height="24" class="text-primary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="2">
                              <svg width="24" height="24" class="text-primary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="3">
                              <svg width="24" height="24" class="text-primary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="4">
                              <svg width="24" height="24" class="text-secondary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <div class="rating" data-rating="5">
                              <svg width="24" height="24" class="text-secondary">
                                <use xlink:href="#star-solid"></use>
                              </svg>
                            </div>
                            <span class="rating-count">(3.5)</span>
                          </div>
                          <div class="review-header">
                            <span class="author-name">Terry Crews</span>
                            <span class="review-date">– 03/06/2022</span>
                          </div>
                          <p>
                            Vitae tortor condimentum lacinia quis vel eros donec
                            ac. Nam at lectus urna duis convallis convallis
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="add-review mt-5">
                    <h3>Adicione uma avaliação</h3>
                    <p>
                      Seu endereço de email não será publicado. Os campos obrigatórios estão marcados com *
                    </p>
                    <form id="form" class="form-group">
                      <div class="pb-3">
                        <div class="review-rating">
                          <span>Sua nota *</span>
                          <div class="rating-container d-flex align-items-center">
                            <span class="rating secondary-font">
                              <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                              <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                              <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                              <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                              <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                              (5.0)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pb-3">
                        <input type="file" class="form-control" data-text="Choose your file" />
                      </div>
                      <div class="pb-3">
                        <label>Seu nome</label>
                        <input type="text" name="name" placeholder="Escreva seu nome aqui*" class="form-control" />
                      </div>
                      <div class="pb-3">
                        <label>Seu Email</label>
                        <input type="text" name="email" placeholder="Escreva seu email aqui*" class="form-control" />
                      </div>
                      <div class="pb-3">
                        <label>Sua Avaliação</label>
                        <textarea class="form-control" placeholder="Escreva sua avaliação aqui*"></textarea>
                      </div>
                      <button type="submit" name="submit" class="btn btn-dark btn-large text-uppercase w-100 mt-4">
                        Enviar
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('includes/footer.ejs') -%>
  </body>

</html>